@model IEnumerable<BlueRibbonsReview.Models.Campaign>

@{
    ViewBag.Title = "Index";
}
<div class="text-center">
    <h2>Check out our products! All products are 70% off or more!</h2>
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using (Html.BeginForm())
{
    <p>
        @Html.TextBox("SearchString")
        <input type="submit" value="Search" />
    </p>
}

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="sortBy" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort By
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="sortBy">
        <li>@Html.ActionLink("Newest First", "Index", new { sortOrder = ViewBag.StartDateDescSortParm })</li>
        <li>@Html.ActionLink("Oldest First", "Index", new { sortOrder = ViewBag.StartDateSortParm })</li>
        <li>@Html.ActionLink("Ending Soon", "Index", new { sortOrder = ViewBag.CloseDateSortParm })</li>
        <li>@Html.ActionLink("Price - Lowest First", "Index", new { sortOrder = ViewBag.SalePriceSortParm })</li>
        <li>@Html.ActionLink("Price - Highest First", "Index", new { sortOrder = ViewBag.SalePriceDescSortParm })</li>
        <li>@Html.ActionLink("Name A-Z", "Index", new { sortOrder = ViewBag.NameSortParm })</li>
        <li>@Html.ActionLink("Name Z-A", "Index", new { sortOrder = ViewBag.NameDescSortParm })</li>
    </ul>
</div>

<div class="container">
    @foreach (var item in Model)
    {
        <div class="panel panel-default col-lg-2 col-md-3 col-sm-4 col-xs-6">
            <div class="panel-body">
                <tr>
                    <div class="productimagebox" style="height:150px; overflow:hidden; padding:5%;">
                        <td>
                            <img src="@Html.DisplayFor(modelItem => item.ImageUrL)" style="max-height:98%; max-width:97%" />
                        </td>
                    </div>
                    <div class="productnamebox" style="line-height:1.15em; height:3.5em; font-weight:bold; overflow:hidden;">
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                    </div>
                    <div class="specialprice">
                        <td>
                            $@Html.DisplayFor(modelItem => item.SalePrice)
                        </td>
                    </div>
                    <!-- Fix this later to show % instead of $
                    <td>
                        @Html.DisplayFor(modelItem => item.CalculatedDiscount)
                    </td>

                    -->
                    <td>
                        <div class="modal fade" id="modal-@Html.DisplayFor(modelItem => item.CampaignID)" tabindex="-1" role="dialog" aria-labelledby="modal-title" aria-hidden="true">
                            <div class="modal-dialog modal-lg" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modal-title-@Html.DisplayFor(modelItem => item.CampaignID)">@Html.DisplayFor(modelItem => item.Name)</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        @{
                                            Html.RenderPartial("_Details", item);
                                        }
                                    </div>
                                    <hr />
                                    <div class="modal-footer" style="border:none;">
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-@Html.DisplayFor(modelItem => item.CampaignID)">
                            See Details!
                        </button>

                        <!-- REMOVE
                        @Html.ActionLink("Edit", "Edit", new { id = item.CampaignID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CampaignID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CampaignID })
                            -->

                    </td>
                </tr>
            </div>
        </div>

    }
</div>